@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
    --pink-fair : #FFEFEA;
    --white-solid: #FFFFFF;
    --gray-mine-shaft: #333333;
    --gray-alto: #DADADA;
}
* {
    box-sizing: border-box;

}

body {
    background-color: var(--pink-fair);
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    padding: 20px;
}

.btn {
    cursor: pointer;
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: var(--white-solid);
    font-size: 16px;
    padding: 8px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus,
select:focus {
    outline: 0;
}

.btn-toggle {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.text-box {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--gray-mine-shaft);
    color: var(--white-solid);
    padding: 20px;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

.text-box select {
    background-color: darksalmon;
    border: 0;
    color: var(--white-solid);
    font-size: 12px;
    height: 30px;
    width: 100%;
}

.text-box textarea {
    border: 1px solid var(--gray-alto);
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    height: 150px;
}

.text-box .btn {
    width: 100%;
}

.text-box .close {
    float: right;
    text-align: center;
    cursor: pointer;
}

