:root {
    --black-eternity           : #2D2013;
    --white-solid              : #FFFFFF;
    --grey-alto                : #DEDEDE;

}

* {
    box-sizing                 : border-box;
}

body {
    background                 : var(--black-eternity);
    color                      : var(--white-solid);
    font-family                : Verdana, Geneva, Tahoma. sans-serif;
    margin                     : 0;
    height                     : 100vh;
}

.container {
    margin                     : auto;
    max-width                  : 800px;
    display                    : flex;
    flex-direction             : column;
    align-items                : center;
    justify-content            : center;
    text-align                 : center;
}

.flex {
    display                    : flex;
}

input,
button {
    border                     : var(--gray-alto);
    border-top-left-radius     : 4px;
    border-bottom-left-radius  : 4px;
    font-size                  : 14px;
    padding                    : 8px 10px;
    margin                     : 0;
}


input[type="text"] {
    width                      : 300px;
}

.search-btn {
    cursor                     : pointer;
    border-left                : 0;
    border-radius              : 0;
    border-top-right-radius    : 4px;
    border-bottom-right-radius : 4px;
}

.random-btn {
    cursor                     : pointer;
    margin-left                : 10px;
    border-top-right-radius    : 4px;
    border-bottom-right-radius : 4px;
}

@media (max-width: 800px) {

}

@media (max-width: 700px) {

}

@media (max-width: 500px) {
    input[type="text"] {
        width                  : 100%;
    }
}
