@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
    --white-solid            : #FFFFFF;

    --background-transparent : rgba(0, 0, 0, 0.5);
}

* {
    box-sizing               : border-box;
}

body {
    background-repeat        : no-repeat;
    background-size          : cover;
    background-position      : center center;
    height                   : 100vh;
    color                    : var(--white-solid);
    font-family              : "Lato", sans-serif;
    display                  : flex;
    flex-direction           : column;
    align-items              : center;
    justify-content          : center;
    text-align               : center;
    margin                   : 0;
    overflow                 : hidden;
}

/* add a dark overlay */
body::after {
    content                  : "";
    position                 : absolute;
    top                      : 0;
    left                     : 0;
    width                    : 100%;
    height                   : 100%;
    background-color         : var(--background-transparent);
}

body * {
    z-index                  : 1;
}

h1 {
    font-size                : 60px;
    margin                   : -80px 0 40px 0;
}

.year {
    font-size                : 200px;
    z-index                  : -1;
    opacity                  : 0.2;
    position                 : absolute;
    bottom                   : 20px;
    left                     : 50%;
    transform                : translateX(-50%);
    color                    : red;
}

.countdown {
    /* display               : flex; */
    display                  : none;

    transform                : scale(2);
}

.time {
    display                  : flex;
    flex-direction           : column;
    align-items              : center;
    justify-content          : center;
    margin                   : 15px;
}

.time h2 {
    margin                   : 0 0 5px 0;
}

@media (max-width:500px) {
    h1 {
        font-size : 45px;
    }

    .time {
        margin    : 5px;
    }

    .time h2 {
        font-size : 12px;
        margin    : 0;
    }

    .time small {
        font-size : 10px;
    }
}
