@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
    --gray-dove                : #666666;
    --gray-mine-shaft          : #333333;
    --white-solid              : #FFFFFF;
    --black-solid              : #000000;
    --green-eucalyptus         : #28A745;
    --red-punch                : #DC3545;

}
* {
    box-sizing                 : border-box;
}

body {
    font-family                : 'Questrial', sans-serif;
    display                    : flex;
    flex-direction             : column;
    align-items                : center;
    justify-content            : center;
    background-color           : var(--gray-dove);
    max-height                 : 100vh;
    margin                     : 0
}

h1 {
    color                      : var(--white-solid);
}

.screen {
    cursor                     : pointer;
    width                      : 50%;
    background-color           : var(--black-solid) !important;
    border-top-left-radius     : 10px;
    border-top-right-radius    : 10px;
}

.controls {
    background                 : var(--gray-mine-shaft);
    color                      : var(--white-solid);
    width                      : 50%;
    border-bottom-left-radius  : 10px;
    border-bottom-right-radius : 10px;
    display                    : flex;
    justify-content            : center;
    align-items                : center;
    padding                    : 10px;
}

.controls .btn {
    border                     : 0;
    background                 : transparent;
    cursor                     : pointer;
}

.controls .fa-play {
    color                      : var(--green-eucalyptus);
}

.controls .fa-stop {
    color                      : var(--red-punch);
}

.controls .fa-pause {
    color                      : var(--white-solid);
}

.controls .timestamp {
    color                      : var(--white-solid);
    font-weight                : bold;
    margin-left                : 10px;
}

.btn                           : focus {
    outline                    : 0;
}

@media (max-wdith: 800px) {
    .screen,
    .controls {
        width                  : 90%;
    }
}





