:root {
    --white: #FFFFFF;
    --blue-background : #34495E;

    /* borders */
    --border-blue: 3px solid #2980B9;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--blue-background);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0 0;
}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke: var(--white);
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}


.wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right
}


.wrong-letters-container p {
    margin: 0 0 5px 0;
}

.wrong-letters-containers span {
    font-size: 24px;
}

.word {
    display: flex;
    position: absolute;
    button: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: var(--border-blue);
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}


