@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
    --box-shadow                           : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    /* colors */
    --white-solid                          : #FFFFFF;
    --white-alabaster                      : #F7F7F7;
    --gray-silver                          : #BBBBBB;
    --gray-alto                            : #DEDEDE;
    --gray-mine-shaft                      : #333333;
    --green-shamrock                       : #2ECC71;
    --red-tall-poppy                       : #C0392B;
    --purple-heliotrope                    : #9C88FF;
    --orange-cinnabar                      : #E74C3C;
}

* {
    box-sizing                             : border-box;
}

body {
    background                             : var(--white-alabaster);
    display                                : flex;
    align-items                            : center;
    justify-content                        : center;
    min-height                             : 100vh;
    margin                                 : 0;
    font-family                            : "Lato", sans-serif;
}

.container {
    margin                                 : 30px auto;
    width                                  : 350px;
}

h1 {
    letter-spacing                         : 1px;
    margin                                 : 0px;
}

h3 {
    border-bottom                          : 1px solid var(--gray-silver);
    padding-bottom                         : 10px;
    margin                                 : 40px 0 10px 0;
}

h4 {
    margin                                 : 0;
    text-transform                         : uppercase;
}


.inc-exp-container {
    background-color                       : var(--white-solid);
    box-shadow                             : var(--box-shadow);
    padding                                : 20px;
    display                                : flex;
    justify-content                        : space-between;
    margin                                 : 20px;
}

/* ">" = sudo selector */
.inc-exp-container > div {
    flex                                   : 1;
    text-align                             : center;
}

.inc-exp-container > div:first-of-type {
    border-right                           : 1px solid var(--gray-alto);
}

.money {
    font-size                              : 20px;
    letter-spacing                         : 1px;
    margin                                 : 5px 0;
}

.money.plus {
    color                                  : var(--green-shamrock);
}

.money.minus {
    color                                  : var(--red-tall-poppy);
}

label {
    display                                : inline-block;
    margin                                 : 10px 0;
}

input[type="text"], input[type="number"] {
    border                                 : 1px solid var(--gray-alto);
    border-radius                          : 2px;
    display                                : block;
    font-size                              : 16px;
    padding                                : 10px;
    width                                  : 100%;
}

.btn {
    cursor                                 : pointer;
    background-color                       : var(--purple-heliotrope);
    box-shadow                             : var(--box-shadow);
    color                                  : var(--white-solid);
    display                                : block;
    font-size                              : 16px;
    margin                                 : 10px 0 30px 0;
    padding                                : 10px;
    width                                  : 100%;
}

.btn:focus,
.delete-btn:focus {
    outline                                : 0;
}

.list {
    list-style-type                        : none;
    padding                                : 0;
    margin-bottom                          : 40px;
}

.list li {
    background-color                       : var(--white-solid);
    box-shadow                             : var(--box-shadow);
    color                                  : var(--black-mine-shaft);
    display                                : flex;
    justify-content                        : space-between;
    position                               : relative;
    padding                                : 10px;
    margin                                 : 10px 0;
}

.list li.plus {
    border-right                           : 5px solid var(--green-shamrock);
}

.list li.minus {
    border-right                           : 5px solid var(--red-tall-poppy);
}

.delete-btn {
    cursor                                 : pointer;
    background-color                       : var(--orange-cinnabar);
    border                                 : 0;
    color                                  : var(--white-solid);
    font-size                              : 20px;
    line-height                            : 20px;
    padding                                : 0px 5px 4px 5px;
    position                               : absolute;
    top                                    : 35%;
    left                                   : 0;
    transform                              : translate(-120%, -50%);
    opacity                                : 0;
    transition                             : opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity                                : 1;
}
