@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {

    /* Miscellaneous */
    --modal-duration               : 1s;

    --primary-color                : #30336B;
    --secondary-color              : #BE2EDD;

    --white                        : #FFFFFF;
    --gray                         : #333333;

    --border-color                 : 2px solid rgba(200, 200, 200, 0.1);
    --transparent-background       : rgba(0, 0, 0, 0.3);
    --transparent-modal-background : rgba(0, 0, 0, 0.6);
}

* {
    box-sizing                     : border-box;
}

body {
    font-family                    : "Lato", sans-serf;
    margin                         : 0;

}

nav {
    background-color               : var(--primary-color);
    border-right                   : var(--border-color);
    color                          : var(--white);
    position                       : fixed;
    top                            : 0;
    left                           : 0;
    width                          : 200px;
    height                         : 100vh;
    z-index                        : 100;

    /* transfrom process in-out */
    transform                      : translateX(-100%);
}

nav .logo {
    padding                        : 30px 0;
    text-align                     : center;
}

nav .logo img {
    height                         : 75px;
    width                          : 75px;
    border-radius                  : 50%;
}


nav ul {
    padding                        : 0;
    list-style-type                : none;
    margin                         : 0;
}

nav ul li {
    border-bottom                  : var(--border-color);
    padding                        : 20px;
}

nav ul li:first-of-type {
    border-top                     : var(--border-color);
}

nav ul li a {
    color                          : var(--white);
    text-decoration                : none;
}

nav ul li a:hover {
    text-decoration                : underline;
}


/* HEADER MODAL */

header {
    background-color               : var(--primary-color);
    color                          : var(--white);
    font-size                      : 130%;
    position                       : relative;
    padding                        : 40px 15px;
    text-align                     : center;
}

header p {
    margin                         : 30 px;
}

button, input[type="submit"] {
    background-color               : var(--secondary-color);
    border                         : 0;
    border-radius                  : 5px;
    color                          : var(--white);
    cursor                         : pointer;
    padding                        : 8px 12px;
}

button:focus {
    outline                        : none;
}

.toggle {
    background-color               : var(--transparent-background);
    position                       : absolute;
    top                            : 20px;
    left                           : 20px;
}

.cta-btn {
    padding                        : 12px 30px;
    font-size                      : 20px;
}

.container {
    padding                        : 15px;
    margin                         : 0 auto;
    max-width                      : 100%;
    width                          : 600px;
}

.modal-container {
    background-color               : var(--transparent-modal-background);
    display                        : none;
    position                       : fixed;
    /* covering entire window */
    top                            : 0;
    left                           : 0;
    right                          : 0;
    bottom                         : 0;
}

.modal {
    background-color               : var(--white);
    border-radius                  : 5px;
    box-shadow                     : 0 0 10px 0 var(--transparent-background);
    position                       : absolute;
    overflow                       : hidden;
    /* Make modal at center */
    top                            : 50%;
    left                           : 50%;
    transform                      : translate(-50%, -50%);
    max-width                      : 100%;
    width                          : 400px;
}

.modal-header {
    background-color               : var(--primary-color);
    color                          : var(--white);
    padding                        : 15px;
}

.modal-header h3 {
    margin                         : 0;
    border-bottom                  : 1px solid var(--gray);
}

.modal-content {
    padding                        : 20px;
}

.modal-form div {
    margin                         : 15px 0;
}

.modal-form label {
    display                        : block;
    margin-bottom                  : 5px;
}

.modal-form .form-input {
    padding                        : 8px;
    width                          : 100%;
}

.close-btn {
    background                     : transparent;
    font-size                      : 25px;
    position                       : absolute;
    top                            : 0;
    right                          : 0;
}
